<a href="https://colab.research.google.com/github/choihana/opentutorials_deeplearning/blob/master/%EB%B3%B4%EC%8A%A4%ED%84%B4%EC%A7%91%EA%B0%92_%EC%98%88%EC%B8%A1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 라이브러리 사용
import pandas as pd
import tensorflow as tf

In [2]:
# 데이터를 준비합니다.
file1 = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/boston.csv'
boston = pd.read_csv(file1)
print(boston.columns)
boston.head()

Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat', 'medv'],
      dtype='object')

      crim    zn  indus  chas    nox  ...  tax  ptratio       b  lstat  medv
0  0.00632  18.0   2.31     0  0.538  ...  296     15.3  396.90   4.98  24.0
1  0.02731   0.0   7.07     0  0.469  ...  242     17.8  396.90   9.14  21.6
2  0.02729   0.0   7.07     0  0.469  ...  242     17.8  392.83   4.03  34.7
3  0.03237   0.0   2.18     0  0.458  ...  222     18.7  394.63   2.94  33.4
4  0.06905   0.0   2.18     0  0.458  ...  222     18.7  396.90   5.33  36.2

[5 rows x 14 columns]

In [3]:
# feature, target 분류

In [5]:
feature = boston[['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat']]

In [8]:
target = boston[['medv']]

In [9]:
print(feature.shape,target.shape)

(506, 13) (506, 1)

In [10]:
#모델 만들기

In [26]:
X = tf.keras.layers.Input(shape=[13]) #피쳐의 개수 넣어줌
y = tf.keras.layers.Dense(1)(X)
model = tf.keras.models.Model(X,y)
model.compile(loss='mse')

In [14]:
# 모델 학습하기 (Fit)
model.fit(feature,target,epochs=10)

Epoch 1/10
16/16 [==============================] - 0s 794us/step - loss: 10889.3242
Epoch 2/10
16/16 [==============================] - 0s 772us/step - loss: 7881.5791
Epoch 3/10
16/16 [==============================] - 0s 869us/step - loss: 5815.0513
Epoch 4/10
16/16 [==============================] - 0s 900us/step - loss: 4173.8638
Epoch 5/10
16/16 [==============================] - 0s 898us/step - loss: 2917.5684
Epoch 6/10
16/16 [==============================] - 0s 880us/step - loss: 2013.8572
Epoch 7/10
16/16 [==============================] - 0s 868us/step - loss: 1446.8373
Epoch 8/10
16/16 [==============================] - 0s 879us/step - loss: 1141.8027
Epoch 9/10
16/16 [==============================] - 0s 843us/step - loss: 996.2860
Epoch 10/10
16/16 [==============================] - 0s 809us/step - loss: 904.2726

In [15]:
model.fit(feature,target,epochs=1000,verbose=0)

In [16]:
model.fit(feature,target,epochs=10)

Epoch 1/10
16/16 [==============================] - 0s 821us/step - loss: 26.1200
Epoch 2/10
16/16 [==============================] - 0s 784us/step - loss: 26.3099
Epoch 3/10
16/16 [==============================] - 0s 846us/step - loss: 26.1085
Epoch 4/10
16/16 [==============================] - 0s 974us/step - loss: 25.7727
Epoch 5/10
16/16 [==============================] - 0s 1ms/step - loss: 26.1908
Epoch 6/10
16/16 [==============================] - 0s 881us/step - loss: 26.2267
Epoch 7/10
16/16 [==============================] - 0s 964us/step - loss: 25.9495
Epoch 8/10
16/16 [==============================] - 0s 1ms/step - loss: 25.4689
Epoch 9/10
16/16 [==============================] - 0s 904us/step - loss: 25.9693
Epoch 10/10
16/16 [==============================] - 0s 890us/step - loss: 25.9871

In [17]:
model.fit(feature,target,epochs=1000,verbose=0)

In [18]:
model.fit(feature,target,epochs=10)

Epoch 1/10
16/16 [==============================] - 0s 867us/step - loss: 24.2779
Epoch 2/10
16/16 [==============================] - 0s 879us/step - loss: 24.4849
Epoch 3/10
16/16 [==============================] - 0s 900us/step - loss: 24.5039
Epoch 4/10
16/16 [==============================] - 0s 868us/step - loss: 23.7600
Epoch 5/10
16/16 [==============================] - 0s 934us/step - loss: 24.4773
Epoch 6/10
16/16 [==============================] - 0s 926us/step - loss: 24.6803
Epoch 7/10
16/16 [==============================] - 0s 841us/step - loss: 25.0959
Epoch 8/10
16/16 [==============================] - 0s 886us/step - loss: 24.5663
Epoch 9/10
16/16 [==============================] - 0s 1ms/step - loss: 24.2542
Epoch 10/10
16/16 [==============================] - 0s 866us/step - loss: 24.7847

In [19]:
#더이상 안떨어짐, 학습끝

In [20]:
#모델 사용하기

In [23]:
model.predict(feature[:5])

array([[29.352114],
       [24.216433],
       [30.672243],
       [29.60752 ],
       [29.166348]], dtype=float32)

In [25]:
# 정답과 비교
target[:5]

   medv
0  24.0
1  21.6
2  34.7
3  33.4
4  36.2